<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yihg.product.dao.ProductRouteSupplierMapper" >
  <resultMap id="BaseResultMap" type="com.yihg.product.po.ProductRouteSupplier" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="route_id" property="routeId" jdbcType="INTEGER" />
    <result column="supplier_type" property="supplierType" jdbcType="TINYINT" />
    <result column="sub_type" property="subType" jdbcType="TINYINT" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>

    <!-- base -->
  <sql id="Base_Column_List" >
    id, route_id, supplier_type, sub_type, supplier_id, supplier_name, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_route_supplier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByRouteId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from product_route_supplier
    where route_id = #{routeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_route_supplier
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRouteId" parameterType="java.lang.Integer" >
    delete from product_route_supplier
    where route_id = #{routeId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.yihg.product.po.ProductRouteSupplier" useGeneratedKeys="true" keyProperty="id">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_route_supplier (route_id, supplier_type, sub_type, 
      supplier_id, supplier_name, create_time
      )
    values (#{routeId,jdbcType=INTEGER}, #{supplierType,jdbcType=TINYINT}, #{subType,jdbcType=TINYINT}, 
      #{supplierId,jdbcType=INTEGER}, #{supplierName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yihg.product.po.ProductRouteSupplier" useGeneratedKeys="true" keyProperty="id">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_route_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="routeId != null" >
        route_id,
      </if>
      <if test="supplierType != null" >
        supplier_type,
      </if>
      <if test="subType != null" >
        sub_type,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="routeId != null" >
        #{routeId,jdbcType=INTEGER},
      </if>
      <if test="supplierType != null" >
        #{supplierType,jdbcType=TINYINT},
      </if>
      <if test="subType != null" >
        #{subType,jdbcType=TINYINT},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yihg.product.po.ProductRouteSupplier" >
    update product_route_supplier
    <set >
      <if test="routeId != null" >
        route_id = #{routeId,jdbcType=INTEGER},
      </if>
      <if test="supplierType != null" >
        supplier_type = #{supplierType,jdbcType=TINYINT},
      </if>
      <if test="subType != null" >
        sub_type = #{subType,jdbcType=TINYINT},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yihg.product.po.ProductRouteSupplier" >
    update product_route_supplier
    set route_id = #{routeId,jdbcType=INTEGER},
      supplier_type = #{supplierType,jdbcType=TINYINT},
      sub_type = #{subType,jdbcType=TINYINT},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      supplier_name = #{supplierName,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>