<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yihg.product.dao.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yihg.product.po.ProductInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="biz_id" property="bizId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="name_city" property="nameCity" jdbcType="VARCHAR" />
<!--     <result column="name_duration" property="nameDuration" jdbcType="VARCHAR" />
    <result column="name_travel_mode" property="nameTravelMode" jdbcType="VARCHAR" />
    <result column="name_star_level" property="nameStarLevel" jdbcType="VARCHAR" /> -->
    <result column="name_brief" property="nameBrief" jdbcType="VARCHAR" />
   <!--  <result column="name_mode" property="nameMode" jdbcType="VARCHAR" /> -->
    <result column="travel_days" property="travelDays" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="dest_province_id" property="destProvinceId" jdbcType="INTEGER" />
    <result column="dest_province_name" property="destProvinceName" jdbcType="VARCHAR" />
    <result column="dest_city_id" property="destCityId" jdbcType="INTEGER" />
    <result column="dest_city_name" property="destCityName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
     <result column="obligate" property="obligate" jdbcType="INTEGER" />
      <result column="obligate_hour" property="obligateHour" jdbcType="INTEGER" />
       <result column="obligate_count" property="obligateCount" jdbcType="INTEGER" />
        <result column="obligate_remark" property="obligateRemark" jdbcType="VARCHAR" />
        <result column="stock" property="stock" jdbcType="INTEGER" />
         <result column="stock_count" property="stockCount" jdbcType="INTEGER" />
        <result column="receive_count" property="receiveCount" jdbcType="INTEGER" />
        <result column="product_sys_id" property="productSysId" jdbcType="INTEGER" />
        <result column="source_type" property="sourceType" jdbcType="INTEGER" />
        <collection property="productGroupList" ofType="com.yihg.product.po.ProductGroup">
        	<id column="groupId" property="id" />
        	<result column="name" property="name" />
        </collection>
  </resultMap>
  
  <resultMap id="BaseResultMapExt" type="com.yihg.product.vo.StockStaticsResultVo" >
    <id column="id" property="productId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="name_city" property="productName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapExt2" type="com.yihg.product.vo.StockStaticsResultVOPlus" >
    <id column="id" property="productId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="name_city" property="productName" jdbcType="VARCHAR" />
    <result column="item_date" property="itemDate" jdbcType="DATE" />
    <result column="stock_count" property="stockCount" jdbcType="INTEGER" />
    <result column="receive_count" property="receiveCount" jdbcType="INTEGER" />
    <result column="stockInfo" property="stockInfo" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, biz_id, code, type, brand_id, brand_name, name_city, operator_id,operator_name,
  name_brief, travel_days, order_num, dest_province_id, dest_province_name, source_type,
    dest_city_id, dest_city_name, state, creator_id, creator_name, create_time,obligate,obligate_hour,obligate_count,obligate_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yihg.product.po.ProductInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_info (biz_id, code, type, operator_id,operator_name,
      brand_id, brand_name, name_city, 
      name_duration, name_travel_mode, name_star_level, 
      name_brief, name_mode,travel_days, order_num, 
      dest_province_id, dest_province_name, dest_city_id, 
      dest_city_name, state, creator_id, product_sys_id,
      creator_name, create_time)
    values (#{bizId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{operatorId,jdbcType=INTEGER}, 
      #{operatorName,jdbcType=VARCHAR},
      #{brandId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, #{nameCity,jdbcType=VARCHAR}, 
      #{nameDuration,jdbcType=VARCHAR}, #{nameTravelMode,jdbcType=VARCHAR}, #{nameStarLevel,jdbcType=VARCHAR}, 
      #{nameBrief,jdbcType=VARCHAR},#{nameMode,jdbcType=VARCHAR}, #{travelDays,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, 
      #{destProvinceId,jdbcType=INTEGER}, #{destProvinceName,jdbcType=VARCHAR}, #{destCityId,jdbcType=INTEGER}, 
      #{destCityName,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{creatorId,jdbcType=INTEGER}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}),#{productSysId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yihg.product.po.ProductInfo"  useGeneratedKeys="true" keyProperty="id">
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
       <if test="productSysId != null" >
        product_sys_id,
      </if>
      <if test="sourceType != null" >
        source_type,
      </if>
      <if test="bizId != null" >
        biz_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operatorName != null and operatorName!=''" >
        operator_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="nameCity != null" >
        name_city,
      </if>
     <!--  <if test="nameDuration != null" >
        name_duration,
      </if>
      <if test="nameTravelMode != null" >
        name_travel_mode,
      </if>
      <if test="nameStarLevel != null" >
        name_star_level,
      </if> -->
      <if test="nameBrief != null" >
        name_brief,
      </if>
      <!--  <if test="nameMode != null" >
        name_mode,
      </if> -->
      <if test="travelDays != null" >
        travel_days,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="destProvinceId != null" >
        dest_province_id,
      </if>
      <if test="destProvinceName != null" >
        dest_province_name,
      </if>
      <if test="destCityId != null" >
        dest_city_id,
      </if>
      <if test="destCityName != null" >
        dest_city_name,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="creatorName != null" >
        creator_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     <if test="productSysId != null" >
        #{productSysId,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="bizId != null" >
        #{bizId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null and operatorName!=''" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="nameCity != null" >
        #{nameCity,jdbcType=VARCHAR},
      </if>
    <!--   <if test="nameDuration != null" >
        #{nameDuration,jdbcType=VARCHAR},
      </if>
      <if test="nameTravelMode != null" >
        #{nameTravelMode,jdbcType=VARCHAR},
      </if>
      <if test="nameStarLevel != null" >
        #{nameStarLevel,jdbcType=VARCHAR},
      </if> -->
      <if test="nameBrief != null" >
        #{nameBrief,jdbcType=VARCHAR},
      </if>
     <!--  <if test="nameMode != null" >
        #{nameMode,jdbcType=VARCHAR},
      </if> -->
      <if test="travelDays != null" >
        #{travelDays,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="destProvinceId != null" >
        #{destProvinceId,jdbcType=INTEGER},
      </if>
      <if test="destProvinceName != null" >
        #{destProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="destCityId != null" >
        #{destCityId,jdbcType=INTEGER},
      </if>
      <if test="destCityName != null" >
        #{destCityName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yihg.product.po.ProductInfo" >
    update product_info
    <set >
      <if test="bizId != null" >
        biz_id = #{bizId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="obligate != null" >
        obligate = #{obligate,jdbcType=INTEGER},
      </if>
      <if test="obligateHour != null" >
        obligate_hour = #{obligateHour,jdbcType=INTEGER},
      </if>
      <if test="obligateCount != null" >
        obligate_count = #{obligateCount,jdbcType=INTEGER},
      </if>
      <if test="obligateRemark != null" >
        obligate_remark = #{obligateRemark,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="nameCity != null" >
        name_city = #{nameCity,jdbcType=VARCHAR},
      </if>
     <!--  <if test="nameDuration != null" >
        name_duration = #{nameDuration,jdbcType=VARCHAR},
      </if>
      <if test="nameTravelMode != null" >
        name_travel_mode = #{nameTravelMode,jdbcType=VARCHAR},
      </if>
      <if test="nameStarLevel != null" >
        name_star_level = #{nameStarLevel,jdbcType=VARCHAR},
      </if> -->
      <if test="nameBrief != null" >
        name_brief = #{nameBrief,jdbcType=VARCHAR},
      </if>
     <!--  <if test="nameMode != null" >
        name_mode = #{nameMode,jdbcType=VARCHAR},
      </if> -->
      <if test="travelDays != null" >
        travel_days = #{travelDays,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null" >
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="destProvinceId != null" >
        dest_province_id = #{destProvinceId,jdbcType=INTEGER},
      </if>
      <if test="destProvinceName != null" >
        dest_province_name = #{destProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="destCityId != null" >
        dest_city_id = #{destCityId,jdbcType=INTEGER},
      </if>
      <if test="destCityName != null" >
        dest_city_name = #{destCityName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yihg.product.po.ProductInfo" >
    update product_info
    set biz_id = #{bizId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      operator_id = #{operatorId,jdbcType=INTEGER},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      name_city = #{nameCity,jdbcType=VARCHAR},
      name_duration = #{nameDuration,jdbcType=VARCHAR},
      name_travel_mode = #{nameTravelMode,jdbcType=VARCHAR},
      name_star_level = #{nameStarLevel,jdbcType=VARCHAR},
      name_brief = #{nameBrief,jdbcType=VARCHAR},
      name_mode = #{nameMode,jdbcType=VARCHAR},
      travel_days = #{travelDays,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      dest_province_id = #{destProvinceId,jdbcType=INTEGER},
      dest_province_name = #{destProvinceName,jdbcType=VARCHAR},
      dest_city_id = #{destCityId,jdbcType=INTEGER},
      dest_city_name = #{destCityName,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectProductSalesListPage" resultType="com.yihg.product.po.ProductSales"
            parameterType="com.yihg.mybatis.utility.PageBean">
     SELECT
     info.id,
     info.code,
     info.travel_days travelDays,
     info.brand_name brandName,
     info.name_city nameCity,
     info.`operator_name` operatorName,
     m.path path,
     r.guest_note guestNote
     FROM  `product_info` info LEFT JOIN product_remark r ON info.id = r.product_id
     INNER JOIN (SELECT product_id FROM product_right WHERE org_id=#{orgId,jdbcType=INTEGER}) pr ON info.id=pr.product_id
     LEFT JOIN
     (SELECT obj_id, NAME, path FROM product_attachment WHERE TYPE = 1 AND obj_type = 1 LIMIT 1) m ON m.obj_id = info.id
     WHERE info.state = 2 AND info.travel_days<![CDATA[>]]>0 AND info.biz_id = #{bizId,jdbcType=INTEGER}   
     <if test="page.parameter.name != null and page.parameter.name!=''">
     	 AND info.`name_city` LIKE CONCAT('%',#{page.parameter.name},'%' )
  	</if>
    <if test="page.parameter.brandId != null and page.parameter.brandId!=''">
    	AND info.`brand_id` = ${page.parameter.brandId}
     </if>
     ORDER BY info.create_time
   </select>
   <select id="selectProductSalesPlusListPage" resultType="com.yihg.product.po.ProductSales" 
   parameterType="com.yihg.mybatis.utility.PageBean">
SELECT
info.id,
info.code,
info.travel_days travelDays,
info.dest_province_name destProvinceName,
info.dest_city_name destCityName,
info.brand_name brandName,
info.name_city nameCity,
m.path path,
r.guest_note guestNote,
info.operator_name operatorName
FROM  `product_info` info LEFT JOIN product_remark r ON info.id = r.product_id
INNER JOIN (SELECT product_id FROM product_right WHERE org_id=#{orgId,jdbcType=INTEGER}) pr ON info.id=pr.product_id
LEFT JOIN
(SELECT obj_id, NAME, path FROM product_attachment WHERE TYPE = 1 AND obj_type = 1 GROUP BY obj_id) m ON m.obj_id = info.id
<if test="page.parameter.groupDate != null and page.parameter.groupDate!=''">
INNER join (select product_id  from product_stock where item_date=#{page.parameter.groupDate}) ps on info.`id`=ps.product_id
</if>
WHERE info.state = 2 AND info.travel_days<![CDATA[>]]>0 AND info.biz_id=#{bizId,jdbcType=INTEGER} 
<if test="page.parameter.name != null and page.parameter.name!=''">
AND info.`name_city` LIKE CONCAT('%',#{page.parameter.name},'%' )
</if>
<if test="page.parameter.brandId != null and page.parameter.brandId!=''">
   	AND info.`brand_id` = ${page.parameter.brandId}
</if>
ORDER BY info.create_time
   </select> 

       <select id="selectProductInfoListPage" resultMap="BaseResultMap"
            parameterType="com.yihg.mybatis.utility.PageBean">
        select info.id, biz_id, code, type, brand_id, brand_name, name_city,
  			name_brief, travel_days, order_num, dest_province_id, dest_province_name, 
    		dest_city_id, dest_city_name, state, creator_id, creator_name, create_time,info.operator_id,info.operator_name
		FROM product_info info, product_right pr
		 WHERE info.id=pr.product_id
		  <if test="parameter.orgId!=null">
		  AND pr.org_id=#{parameter.orgId,jdbcType=INTEGER} 
		  </if>
		  AND info.biz_id =#{parameter.bizId,jdbcType=INTEGER}   
		 AND info.state !=-1
		
		 <if test="parameter.name != null and parameter.name != ''">
		  AND info.id IN
		 (SELECT product_id FROM product_contact WHERE NAME
		 like CONCAT('%',#{parameter.name},'%' ))
		</if>
         <if test="parameter.productName != null and parameter.productName!=''">
           AND info.`name_city` LIKE CONCAT('%',#{parameter.productName},'%' )
         </if>
		<if test="page.parameter.state != null and page.parameter.state!=0">
			<if test="page.parameter.state == 1 ">
				and info.state in (1,3)
			</if>
			<if test="page.parameter.state == 2">
				and info.state =2
			</if>
            
        </if>
        <if test="page.parameter.brandId != null and page.parameter.brandId !=0">
            and info.brand_id =#{page.parameter.brandId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destProvinceId != null and page.parameter.destProvinceId !=0">
            and  info.dest_province_id = #{page.parameter.destProvinceId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destCityId != null and page.parameter.destCityId!=0">
            and info.dest_city_id = #{page.parameter.destCityId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.type != null and page.parameter.type!=0">
            and info.type = #{page.parameter.type,jdbcType=TINYINT}
        </if>
         <if test="page.parameter.code != null and page.parameter.code!=''">
            and info.code = #{page.parameter.code,jdbcType=VARCHAR}
        </if>
         <if test="page.parameter.travelDays != null and page.parameter.travelDays!=0">
            and info.travel_days is not null
        </if>
         <if test="page.parameter.id != null ">
            and info.id!=#{page.parameter.id}
        </if>
        <if test="page.parameter.operatorIds!=null and page.parameter.operatorIds!=''">
				and info.operator_id in (${page.parameter.operatorIds})
			</if>
        ORDER BY info.brand_name,info.name_city 
    </select>
    
    <select id="selectProductInfoListPage2" resultMap="BaseResultMap"
            parameterType="com.yihg.mybatis.utility.PageBean">
        select info.id, biz_id, code, type, brand_id, brand_name, name_city,
  			name_brief, travel_days, order_num, dest_province_id, dest_province_name, 
    		dest_city_id, dest_city_name, state, creator_id, creator_name, create_time,info.operator_id,info.operator_name,product_sys_id,source_type
		FROM product_info info
		 WHERE <!--info.id=pr.product_id
		  <if test="parameter.orgId!=null">
		  AND pr.org_id=#{parameter.orgId,jdbcType=INTEGER} 
		  </if> -->
		   info.biz_id =#{parameter.bizId,jdbcType=INTEGER}    AND info.state !=-1
		
		 <!-- <if test="parameter.set!=null">
				AND creator_id in
			 <foreach item="item" index="index" collection="parameter.set" open="("
				separator="," close=")">
				#{item}
			 </foreach>
		    </if> -->
		    
		 <if test="parameter.name != null and parameter.name != ''">
		  AND info.id IN
		 (SELECT product_id FROM product_contact WHERE NAME
		 like CONCAT('%',#{parameter.name},'%' ))
		</if>
         <if test="parameter.productName != null and parameter.productName!=''">
           AND info.`name_city` LIKE CONCAT('%',#{parameter.productName},'%' )
         </if>
		<if test="page.parameter.state != null and page.parameter.state!=0">
			<if test="page.parameter.state == 1 ">
				and info.state in (1,3)
			</if>
			<if test="page.parameter.state == 2">
				and info.state =2
			</if>
            
        </if>
        <if test="page.parameter.brandId != null and page.parameter.brandId !=0">
            and info.brand_id =#{page.parameter.brandId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destProvinceId != null and page.parameter.destProvinceId !=0">
            and  info.dest_province_id = #{page.parameter.destProvinceId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destCityId != null and page.parameter.destCityId!=0">
            and info.dest_city_id = #{page.parameter.destCityId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.type != null and page.parameter.type!=0">
            and info.type = #{page.parameter.type,jdbcType=TINYINT}
        </if>
         <if test="page.parameter.code != null and page.parameter.code!=''">
            and info.code LIKE CONCAT('%',#{page.parameter.code},'%' )
        </if>
         <if test="page.parameter.travelDays != null and page.parameter.travelDays!=0">
            and info.travel_days is not null
        </if>
         <if test="page.parameter.id != null ">
            and info.id!=#{page.parameter.id}
        </if>
        <if test="page.parameter.operatorIds!=null and page.parameter.operatorIds!=''">
				and info.operator_id in (${page.parameter.operatorIds})
			</if>
        ORDER BY info.brand_name,info.name_city 
    </select>
  
       <select id="selectProductRouteListPage" resultMap="BaseResultMap"
            parameterType="com.yihg.mybatis.utility.PageBean">
        select info.id, biz_id, code, type, brand_id, brand_name, name_city,
  			name_brief, travel_days, order_num, dest_province_id, dest_province_name, 
    		dest_city_id, dest_city_name, state, creator_id, creator_name, create_time,info.operator_id,info.operator_name
		FROM product_info info
		 WHERE 
		
		   info.biz_id =#{parameter.bizId,jdbcType=INTEGER}   
		 AND info.state !=-1
		
		 <if test="parameter.name != null and parameter.name != ''">
		  AND info.id IN
		 (SELECT product_id FROM product_contact WHERE NAME
		 like CONCAT('%',#{parameter.name},'%' ))
		</if>
         <if test="parameter.productName != null and parameter.productName!=''">
           AND info.`name_city` LIKE CONCAT('%',#{parameter.productName},'%' )
         </if>
		<if test="page.parameter.state != null and page.parameter.state!=0">
			<if test="page.parameter.state == 1 ">
				and info.state in (1,3)
			</if>
			<if test="page.parameter.state == 2">
				and info.state =2
			</if>
            
        </if>
        <if test="page.parameter.brandId != null and page.parameter.brandId !=0">
            and info.brand_id =#{page.parameter.brandId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destProvinceId != null and page.parameter.destProvinceId !=0">
            and  info.dest_province_id = #{page.parameter.destProvinceId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destCityId != null and page.parameter.destCityId!=0">
            and info.dest_city_id = #{page.parameter.destCityId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.type != null and page.parameter.type!=0">
            and info.type = #{page.parameter.type,jdbcType=TINYINT}
        </if>
         <if test="page.parameter.code != null and page.parameter.code!=''">
            and info.code LIKE CONCAT('%',#{page.parameter.code},'%' )
        </if>
         <if test="page.parameter.travelDays != null and page.parameter.travelDays!=0">
            and info.travel_days is not null
        </if>
         <if test="page.parameter.id != null ">
            and info.id!=#{page.parameter.id}
        </if>
        <if test="page.parameter.operatorIds!=null and page.parameter.operatorIds!=''">
				and info.operator_id in (${page.parameter.operatorIds})
			</if>
        ORDER BY info.brand_name,info.name_city 
    </select>
    
         <select id="selectStockProductListPage" resultMap="BaseResultMap"
            parameterType="com.yihg.mybatis.utility.PageBean">
		select info.id, biz_id, code,type, brand_id,brand_name,name_city,
  			name_brief, travel_days, order_num, dest_province_id, dest_province_name,dest_city_id, dest_city_name, 
			info.state,creator_id, creator_name, info.create_time,info.operator_id,info.operator_name,(s.stock_count-s.receive_count) stock
		FROM product_info info
		LEFT JOIN product_stock s on s.product_id =info.id
		WHERE      info.biz_id =#{parameter.bizId,jdbcType=INTEGER}   
		 AND info.state !=-1
		 	AND s.state =1
		 <if test="parameter.name != null and parameter.name != ''">
		  AND info.id IN
		 (SELECT product_id FROM product_contact WHERE NAME
		 like CONCAT('%',#{parameter.name},'%' ))
		</if>
         <if test="parameter.productName != null and parameter.productName!=''">
           AND info.`name_city` LIKE CONCAT('%',#{parameter.productName},'%' )
         </if>
		<if test="page.parameter.state != null and page.parameter.state!=0">
			<if test="page.parameter.state == 1 ">
				and info.state in (1,3)
			</if>
			<if test="page.parameter.state == 2">
				and info.state =2
			</if>
        </if>
        <if test="page.parameter.brandId != null and page.parameter.brandId !=0">
            and info.brand_id =#{page.parameter.brandId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destProvinceId != null and page.parameter.destProvinceId !=0">
            and  info.dest_province_id = #{page.parameter.destProvinceId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.destCityId != null and page.parameter.destCityId!=0">
            and info.dest_city_id = #{page.parameter.destCityId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.type != null and page.parameter.type!=0">
            and info.type = #{page.parameter.type,jdbcType=TINYINT}
        </if>
         <if test="page.parameter.code != null and page.parameter.code!=''">
            and info.code LIKE CONCAT('%',#{page.parameter.code},'%' )
        </if>
         <if test="page.parameter.travelDays != null and page.parameter.travelDays!=0">
            and info.travel_days is not null
        </if>
         <if test="page.parameter.id != null ">
            and info.id!=#{page.parameter.id}
        </if>
        <if test="page.parameter.operatorIds!=null and page.parameter.operatorIds!=''">
				and info.operator_id in (${page.parameter.operatorIds})
			</if>
	 <if test="page.parameter.itemDate!=null and page.parameter.itemDate!=''">
				 AND s.item_date='${page.parameter.itemDate}'
	 </if>
        ORDER BY info.brand_name,info.name_city 
</select>
  
  
  <select id="getBizAndBrandCodeCount" resultType="int" parameterType="java.lang.Integer" >
  	SELECT COUNT(1) FROM product_info WHERE biz_id =#{bizId} AND brand_id = #{brandId}
  </select>
  
  <select id="getProductBreifListPage" resultMap="BaseResultMapExt" parameterType="com.yihg.mybatis.utility.PageBean">
   		SELECT info.id,info.name_city,info.brand_name
		FROM product_info info,product_right pr
		WHERE info.id=pr.product_id AND pr.org_id=#{page.parameter.orgId,jdbcType=INTEGER} AND info.state !=-1
		<if test="page.parameter.bizId != null and page.parameter.bizId !=0">
			AND info.biz_id =#{page.parameter.bizId,jdbcType=INTEGER}   
		</if>
		<if test="page.parameter.brandId != null and page.parameter.brandId !=0">
            AND info.brand_id =#{page.parameter.brandId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.productName != null and page.parameter.productName !='' ">
            AND info.name_city LIKE CONCAT('%',#{page.parameter.productName,jdbcType=VARCHAR},'%' )
        </if>	
        ORDER BY info.brand_name,info.name_city 
  </select> 
  <select id="selectBySupplierId" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
    SELECT info.* FROM `product_group_supplier`  gs JOIN `product_info` info ON gs.product_id=info.`id`  WHERE gs.id=#{supplierId}
   </select>
   
   <select id="getProductStockListPage" resultMap="BaseResultMapExt2" parameterType="com.yihg.mybatis.utility.PageBean">
   		SELECT info.id, info.brand_name, info.name_city,GROUP_CONCAT(CONCAT_WS('/',IFNULL(ps.item_date,"0000-00-00"),IFNULL(ps.stock_count,0),IFNULL(ps.receive_count,0))) stockInfo
		FROM product_info info left JOIN (SELECT product_id,item_date,stock_count,receive_count,state FROM  product_stock where 1=1
			<if test="page.parameter.groupDate != null and page.parameter.groupDate !='' ">
            AND item_date <![CDATA[>= ]]>#{page.parameter.groupDate}
        </if>	
        <if test="page.parameter.toGroupDate != null and page.parameter.toGroupDate !='' ">
            AND item_date <![CDATA[<= ]]>#{page.parameter.toGroupDate}
        </if>	
		) ps ON info.id=ps.product_id  JOIN `product_right` pr ON  info.id=pr.product_id
	WHERE   info.state !=-1 and pr.org_id=#{page.parameter.orgId,jdbcType=INTEGER} and ps.state!=-1
		<if test="page.parameter.bizId != null and page.parameter.bizId !=0">
			AND info.biz_id =#{page.parameter.bizId,jdbcType=INTEGER}   
		</if>
		<if test="page.parameter.brandId != null and page.parameter.brandId !=0">
            AND info.brand_id =#{page.parameter.brandId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.productName != null and page.parameter.productName !='' ">
            AND info.name_city LIKE CONCAT('%',#{page.parameter.productName,jdbcType=VARCHAR},'%' )
        </if>	
        
        GROUP BY info.brand_name,info.name_city
        ORDER BY info.brand_name,info.name_city 
  </select> 
  <select id="getCurBizCountByProductIdAndCode" resultType="java.lang.Integer">
  	SELECT COUNT(1) 
  	FROM product_info 
  	WHERE CODE=#{code,jdbcType=VARCHAR} AND <![CDATA[id<>#{productId,jdbcType=INTEGER}]]> AND biz_id=#{bizId,jdbcType=INTEGER}
  </select>
  <select id="getAllIdByBizAndState" resultType="java.util.HashMap">
  	SELECT id
  	FROM product_info 
  	WHERE biz_id=#{bizId,jdbcType=INTEGER} AND state=#{state,jdbcType=INTEGER}
  </select>
  
  <select id="searchProductByNameAndDate" resultMap="BaseResultMap">
  SELECT i.* FROM product_info i JOIN product_stock s ON i.`id`=s.`product_id` 
	WHERE s.`item_date`=#{dateStart, jdbcType=VARCHAR} AND biz_id=#{bizId, jdbcType=INTEGER}
	<if test="prodKeyword!=null">
	AND (i.`name_city` LIKE CONCAT('%','${prodKeyword}','%' ) OR i.`brand_name` LIKE CONCAT('%','${prodKeyword}','%' ));
	</if>
  </select>
  <select id="selectByIdAndBizId" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from product_info
    where id = #{id,jdbcType=INTEGER}
    and biz_id=#{bizId}
  </select>
  <select id="selectProductAndPriceListPage" parameterType="com.yihg.mybatis.utility.PageBean" resultMap="BaseResultMap" >
  	select info.id,brand_id,brand_name,name_city,name,pg.id as groupId from product_info info  join product_group pg on info.id=pg.product_id
  	where 1=1 and  info.state !=-1 and pg.state!=-1
		<if test="page.parameter.bizId != null and page.parameter.bizId !=0">
			AND info.biz_id =#{page.parameter.bizId,jdbcType=INTEGER}   
		</if>
		<if test="page.parameter.brandId != null and page.parameter.brandId !=0">
            AND info.brand_id =#{page.parameter.brandId,jdbcType=INTEGER}
        </if>
        <if test="page.parameter.nameCity != null and page.parameter.nameCity !='' ">
            AND info.name_city LIKE CONCAT('%',#{page.parameter.nameCity,jdbcType=VARCHAR},'%' )
        </if>	
        <if test="page.parameter.state ==0 ">
            AND info.state in (1,3)
        </if>	
        <if test="page.parameter.state ==1 ">
            AND info.state =2
        </if>	
  </select>
  
	<!-- 修复因为更改了商家名称而导致与业务表冗余的名称不一致问题 -->
	 <update id="fix_SupplierName_productGroupSupplier" >
				UPDATE product_group_supplier SET `supplier_name`=#{supplierName} WHERE `supplier_id`=#{supplierId};
	</update>  
	
	 <select id="selectStockCount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT stock_count,receive_count
    FROM product_stock
    where product_id = #{productId,jdbcType=INTEGER}
    and item_date=#{itemDate}
  </select>
  
  <update id="updateProductSysId" >
				UPDATE product_info SET product_sys_id=#{productSysId,jdbcType=INTEGER}  WHERE id=#{productId,jdbcType=INTEGER}
	</update>  
	
<select id="selectProductInfoByPsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT 
   <include refid="Base_Column_List" />
    FROM product_info
    where product_sys_id=#{productSysId,jdbcType=INTEGER}
  </select>
</mapper>