<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta property="wb:webmaster" content="3aababe5ed22e23c" />     
        <title>支付失败</title>
		<link rel="stylesheet" href="http://s0.yimayholiday.com/GF_PC/src/css/base.css">
    </head>
	<body class="white">
		<!--新版头部开始-->
		<div id="gf-header">
			<div class="gf-iframe">
				<div class="gf-topbar clearfix">
					<a href="" class="gf-fl">我的账户</a>
					<ul class="clearfix">
						<li><a href="javascript:" id="login-btn">登陆</a></li>
						<li class="last"><a href="" id="regedit-btn">注册</a></li>
					</ul>
				</div>
				<div class="gf-logo"><a href=""><img src="http://s0.yimayholiday.com/GF_PC/img/logo.png" width="200" height="105"/></a></div>
			</div>
			<input type="hidden" id="login-window" value="../login/login.html"/>
		</div>
		<div id="gf-navbox">
			<div class="gf-iframe">
				<div class="gf-nav">
					<a href="" class="first">首页</a>
					<a href="" class="on">魔装商城</a>
					<a href="">GF社区</a>
					<a href="">1826</a>
				</div>			
			</div>
		</div>
		<!--新版头部结束-->
		<div id="gf-navlink">当前位置：<a href="">首页</a> &gt; 查看购物车</div>
		<div class="gf-iframe gf-pay-id">
				<p class="gf-pay-title">Payment success</p>
				<p class="gf-pay-lab">订单支付成功</p>	
				<p class="gf-pay-txt">对不起，支付失败！</p>
				<p class="gf-fail">您可能失败的原因：</br>所需支付金额<em>超过银行支付限额</em></br><em>支付过程发生异常</em>，银行未成功扣款</br>网银页面出现问题，有可能是浏览器兼容问题，请咨询相关银行服务</p>
		</div>
		<div class="gf-iframe gf-fail-id">
			<h2>以下订单未支付成功，请您尽快完成支付</h2>
			<table width="100%">
				<tbody>
					<tr>
						<td align="center" width="25%">订单编号：<label>$orderId</label></td>
						<td align="center" width="39">应付金额：<label class="gf-fail-mony">￥$orderPrice</label></td>
						<td align="center" width="31%">订单状态：<a><button class="gf-shop-btn">重新支付</button></a></td>
					</tr>
				</tbody>
			</table>
			<center><a href="" class="gf-white-btn">返回我的订单</a></center>
		</div>
		<!-- 尾部 -->
		<div id="gf-footer">
			<div class="gf-iframe">
				<p class="foot-logo"><a href=""><img src="http://s0.yimayholiday.com/GF_PC/img/foot-names.png" width="190"/></a></p>
				<p class="foot-icon">
					<a href="javascript:void(0)" class="wx-icon"><img src="http://s0.yimayholiday.com/GF_PC/img/weixin.png" width="276"/></a><a href="javascript:void(0)" class="wb-icon"><img src="http://s0.yimayholiday.com/GF_PC/img/weixin.png" width="276"/></a>
				</p>
				<p class="foot-link">
					<a href="" target="_blank">常见问题</a> | 
					<a href="" target="_blank">媒体报道</a> |
					<a href="" target="_blank">品牌故事</a> |
					<a href="" target="_blank">联系我们</a>					
				</p>
				<p class="foot-copyright">
					Copyright  北京婕珞芙电子商务有限公司. All rights resverved.</br><a href="http://www.miitbeian.gov.cn/" target="_blank" class="jing-addressID">京ICP备15054826号-1</a>				
				</p>
			</div>
		</div>
		<script type="text/javascript" src="http://s0.yimayholiday.com/GF_PC/src/js/sea.js"></script>
		<script type="text/javascript" src="http://s0.yimayholiday.com/GF_PC/src/js/seajs-preload.js"></script>
		<script type="text/javascript" src="http://s0.yimayholiday.com/GF_PC/src/js/config.js"></script>		
		<script>seajs.use("public");</script>		
	</body>
</html>