<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimayhd.erpcenter.dal.product.dao.ProductGroupExtraItemMapper" >
  <resultMap id="BaseResultMap" type="com.yimayhd.erpcenter.dal.product.po.ProductGroupExtraItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="price_sale" property="priceSale" jdbcType="REAL" />
    <result column="price_cost" property="priceCost" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, item_id, item_name, remark, price_sale, price_cost, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_group_extra_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from product_group_extra_item
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_group_extra_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.erpcenter.dal.product.po.ProductGroupExtraItem" useGeneratedKeys="true" keyProperty="id">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_group_extra_item (group_id, item_id, item_name, remark, price_sale, price_cost, create_time)
    values (#{groupId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{priceSale,jdbcType=REAL},
      #{priceCost,jdbcType=REAL}, #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yimayhd.erpcenter.dal.product.po.ProductGroupExtraItem" useGeneratedKeys="true" keyProperty="id">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_group_extra_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="itemId != null" >
        item_name,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="priceSale != null" >
        price_sale,
      </if>
      <if test="priceCost != null" >
        price_cost,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priceSale != null" >
        #{priceSale,jdbcType=REAL},
      </if>
      <if test="priceCost != null" >
        #{priceCost,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimayhd.erpcenter.dal.product.po.ProductGroupExtraItem" >
    update product_group_extra_item
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="priceSale != null" >
        price_sale = #{priceSale,jdbcType=REAL},
      </if>
      <if test="priceCost != null" >
        price_cost = #{priceCost,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.erpcenter.dal.product.po.ProductGroupExtraItem" >
    update product_group_extra_item
    set group_id = #{groupId,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=INTEGER},
      item_name = #{itemName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      price_sale = #{priceSale,jdbcType=REAL},
      price_cost = #{priceCost,jdbcType=REAL},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>