<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimayhd.erpcenter.dal.product.dao.TaobaoStockDateMapper">
  <resultMap id="BaseResultMap" type="com.yimayhd.erpcenter.dal.product.po.TaobaoStockDate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stock_id" jdbcType="INTEGER" property="stockId" />
    <result column="stock_date" jdbcType="DATE" property="stockDate" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="sale_count" jdbcType="INTEGER" property="saleCount" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stock_id, stock_date, stock_count, sale_count, state,remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taobao_stock_date
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectTaobaoStocksByProductIdAndDate" resultMap="BaseResultMap">
      select *
    	from taobao_stock_date
    	where stock_id = #{stockId,jdbcType=INTEGER}
    <![CDATA[ AND stock_date>=#{startDate} AND stock_date<#{endDate}]]> AND state=1
    </select>
      <update id="updateByLog" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoStockDate">
		      update taobao_stock_date as sd 
			left join (select stock_date_id
									,sum(case when order_id=0 and taobao_order_id=0 then num else 0 end) as stock
									,sum(case when order_id>0 or  taobao_order_id>0 then num else 0 end) as sale 
									from taobao_stock_log 
									where stock_date_id= #{stockDateId,jdbcType=INTEGER} group by stock_date_id
								) as a on  (sd.id=a.stock_date_id)
			set stock_count=ifnull(a.stock,0),sale_count=ifnull(a.sale,0)
		   where sd.id= #{stockDateId,jdbcType=INTEGER}
      </update>
      
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from taobao_stock_date
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoStockDate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_stock_date (stock_id, stock_date, stock_count, 
      sale_count, state)
    values (#{stockId,jdbcType=INTEGER}, #{stockDate,jdbcType=DATE}, #{stockCount,jdbcType=INTEGER}, 
      #{saleCount,jdbcType=INTEGER}, #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoStockDate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_stock_date
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="stockDate != null">
        stock_date,
      </if>
      <if test="stockCount != null">
        stock_count,
      </if>
      <if test="saleCount != null">
        sale_count,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockId != null">
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="stockDate != null">
        #{stockDate,jdbcType=DATE},
      </if>
      <if test="stockCount != null">
        #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="saleCount != null">
        #{saleCount,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoStockDate">
    update taobao_stock_date
    <set>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=INTEGER},
      </if>
      <if test="stockDate != null">
        stock_date = #{stockDate,jdbcType=DATE},
      </if>
      <if test="stockCount != null">
        stock_count = #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="saleCount != null">
        sale_count = #{saleCount,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        state = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoStockDate">
    update taobao_stock_date
    set stock_id = #{stockId,jdbcType=INTEGER},
      stock_date = #{stockDate,jdbcType=DATE},
      stock_count = #{stockCount,jdbcType=INTEGER},
      sale_count = #{saleCount,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
  </update>
  
      <select id="selectTaobaoStocksByNumIidAndStockDate" resultMap="BaseResultMap">
			 SELECT tsd.* FROM taobao_stock_date tsd
			JOIN taobao_stock_product tsp on(tsp.stock_id=tsd.stock_id)
			JOIN taobao_product_skus tps on(tps.id=tsp.product_skus_id)
			WHERE tps.pid_name=#{sku,jdbcType=VARCHAR}
			AND tsd.stock_date=#{stockDate,jdbcType=DATE}
			and tps.num_iid=#{numIid,jdbcType=VARCHAR}
    </select>
    
     <update id="updateRemark" parameterType="com.yihg.product.po.TaobaoStockDate">
    update taobao_stock_date
    <set>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>