<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimayhd.erpcenter.dal.product.dao.TaobaoProductSkusMapper">
  <resultMap id="BaseResultMap" type="com.yimayhd.erpcenter.dal.product.po.TaobaoProductSkus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num_iid" jdbcType="VARCHAR" property="numIid" />
    <result column="taobao_product_id" jdbcType="VARCHAR" property="taobaoProductId" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="vid" jdbcType="VARCHAR" property="vid" />
    <result column="pid_name" jdbcType="VARCHAR" property="pidName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, num_iid, taobao_product_id, pid, vid, pid_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taobao_product_skus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from taobao_product_skus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoProductSkus">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_product_skus (num_iid, taobao_product_id, pid, 
      vid, pid_name)
    values (#{numIid,jdbcType=VARCHAR}, #{taobaoProductId,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{vid,jdbcType=VARCHAR}, #{pidName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoProductSkus">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_product_skus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="numIid != null">
        num_iid,
      </if>
      <if test="taobaoProductId != null">
        taobao_product_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="vid != null">
        vid,
      </if>
      <if test="pidName != null">
        pid_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="numIid != null">
        #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="taobaoProductId != null">
        #{taobaoProductId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=VARCHAR},
      </if>
      <if test="pidName != null">
        #{pidName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoProductSkus">
    update taobao_product_skus
    <set>
      <if test="numIid != null">
        num_iid = #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="taobaoProductId != null">
        taobao_product_id = #{taobaoProductId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="vid != null">
        vid = #{vid,jdbcType=VARCHAR},
      </if>
      <if test="pidName != null">
        pid_name = #{pidName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.erpcenter.dal.product.po.TaobaoProductSkus">
    update taobao_product_skus
    set num_iid = #{numIid,jdbcType=VARCHAR},
      taobao_product_id = #{taobaoProductId,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      vid = #{vid,jdbcType=VARCHAR},
      pid_name = #{pidName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectByVid" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taobao_product_skus
    where vid = #{vid,jdbcType=VARCHAR}
    and num_iid = #{numIid,jdbcType=VARCHAR}
  </select>
</mapper>