<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimayhd.product.mapper.TrafficResMapper">
  <resultMap id="BaseResultMap" type="com.yimayhd.erpcenter.dal.product.po.TrafficRes">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="biz_id" jdbcType="INTEGER" property="bizId" />
    <result column="res_name" jdbcType="VARCHAR" property="resName" />
    <result column="res_method" jdbcType="VARCHAR" property="resMethod" />
    <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="child_price" jdbcType="DECIMAL" property="childPrice" />
    <result column="baby_price" jdbcType="DECIMAL" property="babyPrice" />
    <result column="num_stock" jdbcType="INTEGER" property="numStock" />
    <result column="num_disable" jdbcType="INTEGER" property="numDisable" />
    <result column="num_reserved" jdbcType="INTEGER" property="numReserved" />
     <result column="num_clean" jdbcType="INTEGER" property="numClean" />
    <result column="num_sold" jdbcType="INTEGER" property="numSold" />
    <result column="num_balance" jdbcType="INTEGER" property="numBalance" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="date_start" jdbcType="VARCHAR" property="dateStart" />
    <result column="date_latest" jdbcType="VARCHAR" property="dateLatest" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="time_create" jdbcType="VARCHAR" property="timeCreate" />
    <result column="time_update" jdbcType="VARCHAR" property="timeUpdate" />
    
    <result column="class_no" jdbcType="VARCHAR" property="classNo" />
    <result column="departure_city" jdbcType="VARCHAR" property="departureCity" />
    <result column="departure_time" jdbcType="VARCHAR" property="departureTime" />
    <result column="arrival_city" jdbcType="VARCHAR" property="arrivalCity" />
    <result column="arrival_time" jdbcType="VARCHAR" property="arrivalTime" />
    <result column="lineInfo" jdbcType="VARCHAR" property="lineInfo" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="newDateLatest" jdbcType="VARCHAR" property="newDateLatest" />
    
    <result column="adjust_time" jdbcType="VARCHAR" property="adjustTime" />
    <result column="STOCK" jdbcType="VARCHAR" property="STOCK" />
    <result column="STOCK_DISABLE" jdbcType="VARCHAR" property="STOCKDISABLE" />
    <result column="ORDER_SOLD" jdbcType="VARCHAR" property="ORDERSOLD" />
    <result column="ORDER_RESERVE" jdbcType="VARCHAR" property="ORDERRESERVE" />
    <result column="ORDER_CANCEL" jdbcType="VARCHAR" property="ORDERCANCEL" />
    <result column="ORDER_CLEAN" jdbcType="VARCHAR" property="ORDERCLEAN" />
    <result column="ORDER_UNCONFIRM" jdbcType="VARCHAR" property="ORDERUNCONFIRM" />
    <result column="ORDER_CONFIRM" jdbcType="VARCHAR" property="ORDERCONFIRM" />
    
     <result column="num_cancel" jdbcType="VARCHAR" property="numCancel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from traffic_res
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.erpcenter.dal.product.po.TrafficRes">
    insert into traffic_res (id, biz_id, res_name, 
      res_method, cost_price, child_price,baby_price,num_stock, 
      num_disable, num_reserved, num_sold, 
      num_balance, state, date_start, 
      date_latest, remark, user_id, 
      user_name, time_create, time_update
      )
    values (#{id,jdbcType=INTEGER}, #{bizId,jdbcType=INTEGER}, #{resName,jdbcType=VARCHAR}, 
      #{resMethod,jdbcType=VARCHAR}, #{costPrice,jdbcType=DECIMAL}, #{childPrice,jdbcType=DECIMAL},#{babyPrice,jdbcType=DECIMAL},
      #{numStock,jdbcType=TINYINT}, 
      #{numDisable,jdbcType=TINYINT}, #{numReserved,jdbcType=TINYINT}, #{numSold,jdbcType=TINYINT}, 
      #{numBalance,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}, #{dateStart,jdbcType=TIMESTAMP}, 
      #{dateLatest,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{timeCreate,jdbcType=TIMESTAMP}, #{timeUpdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.erpcenter.dal.product.po.TrafficRes">
    update traffic_res
    set biz_id = #{bizId,jdbcType=INTEGER},
      res_name = #{resName,jdbcType=VARCHAR},
      res_method = #{resMethod,jdbcType=VARCHAR},
      cost_price = #{costPrice,jdbcType=DECIMAL},
      
      child_price = #{childPrice,jdbcType=DECIMAL},
      baby_price = #{babyPrice,jdbcType=DECIMAL},
      num_stock = #{numStock,jdbcType=TINYINT},
      num_disable = #{numDisable,jdbcType=TINYINT},
      num_reserved = #{numReserved,jdbcType=TINYINT},
      num_sold = #{numSold,jdbcType=TINYINT},
      num_balance = #{numBalance,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      date_start = #{dateStart,jdbcType=TIMESTAMP},
      date_latest = #{dateLatest,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      time_create = #{timeCreate,jdbcType=TIMESTAMP},
      time_update = #{timeUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select id, biz_id, res_name, res_method, cost_price, child_price,baby_price,num_stock, num_disable, num_reserved, 
    num_sold, num_balance, state, date_start, date_latest, remark, user_id, user_name, 
    time_create, time_update
    from traffic_res
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_id, res_name, res_method, cost_price, num_stock, num_disable, num_reserved, 
    num_sold, num_balance, state, date_start, date_latest, remark, user_id, user_name, 
    time_create, time_update
    from traffic_res
  </select>
  <insert id="insertSelective" parameterType="com.yimayhd.erpcenter.dal.product.po.TrafficRes"  useGeneratedKeys="true" keyProperty="id">
    insert into traffic_res
    <trim prefix="(" suffix=")" suffixOverrides="," >
       <if test="id != null" >
        id,
      </if>
      <if test="bizId != null" >
        biz_id,
      </if>
      <if test="resName != null" >
        res_name,
      </if>
      <if test="resMethod != null" >
        res_method,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      
       <if test="childPrice != null" >
        child_price,
      </if>
       <if test="babyPrice != null" >
        baby_price,
      </if>
      <if test="numStock != null" >
        num_stock,
      </if>
      <if test="numDisable != null" >
        num_disable,
      </if>
      <if test="numReserved != null" >
        num_reserved,
      </if>
      <if test="numSold != null" >
        num_sold,
      </if>
      <if test="numBalance != null" >
        num_balance,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="dateStart != null" >
        date_start,
      </if>
      <if test="dateLatest != null" >
        date_latest,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="timeCreate != null" >
        time_create,
      </if>
      <if test="timeUpdate != null" >
        time_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
           <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bizId != null" >
        #{bizId,jdbcType=INTEGER},
      </if>
      <if test="resName != null" >
       #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resMethod != null" >
        #{resMethod,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DECIMAL},
      </if>
      
        <if test="childPrice != null" >
        #{childPrice,jdbcType=DECIMAL},
      </if>
        <if test="babyPrice != null" >
        #{babyPrice,jdbcType=DECIMAL},
      </if>
      <if test="numStock != null" >
        #{numStock,jdbcType=TINYINT},
      </if>
      <if test="numDisable != null" >
        #{numDisable,jdbcType=TINYINT},
      </if>
      <if test="numReserved != null" >
        #{numReserved,jdbcType=TINYINT},
      </if>
      <if test="numSold != null" >
        #{numSold,jdbcType=TINYINT},
      </if>
      <if test="numBalance != null" >
        #{numBalance,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="dateStart != null" >
        #{dateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="dateLatest != null" >
        #{dateLatest,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="timeCreate != null" >
        #{timeCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeUpdate != null" >
        #{timeUpdate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  
  <update id="updateTrafficRes" parameterType="com.yimayhd.erpcenter.dal.product.po.TrafficRes">
  update traffic_res
   <set>
         <if test="bizId != null" >
        biz_id = #{bizId,jdbcType=INTEGER},
      </if>
      <if test="resName != null" >
      res_name = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resMethod != null" >
      res_method =  #{resMethod,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
      cost_price =  #{costPrice,jdbcType=DECIMAL},
      </if>
      
         <if test="childPrice != null" >
      child_price =  #{childPrice,jdbcType=DECIMAL},
      </if>
         <if test="babyPrice != null" >
      baby_price =  #{babyPrice,jdbcType=DECIMAL},
      </if>
      <if test="numStock != null" >
       num_stock = #{numStock,jdbcType=TINYINT},
      </if>
      <if test="numDisable != null" >
      num_disable =  #{numDisable,jdbcType=TINYINT},
      </if>
      <if test="numReserved != null" >
        num_reserved = #{numReserved,jdbcType=TINYINT},
      </if>
      <if test="numSold != null" >
       num_sold = #{numSold,jdbcType=TINYINT},
      </if>
      <if test="numBalance != null" >
        num_balance = #{numBalance,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
       state = #{state,jdbcType=TINYINT},
      </if>
      <if test="dateStart != null" >
       date_start = #{dateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="dateLatest != null" >
        date_latest = #{dateLatest,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="timeCreate != null" >
       time_create =  #{timeCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeUpdate != null" >
       time_update = #{timeUpdate,jdbcType=TIMESTAMP}
      </if>
   </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="selectTrafficResListPage" resultMap="BaseResultMap" parameterType="com.yihg.mybatis.utility.PageBean">
    select a.*  , ifnull(b.lineInfo, '') lineInfo
from traffic_res a  
LEFT JOIN (select res_id, GROUP_CONCAT(CONCAT_WS(' ',line_date,class_no,CONCAT(departure_city,'-',arrival_city), CONCAT(departure_time,'-',arrival_time)) separator '<![CDATA[<br/>]]>') as lineInfo
	from traffic_res_line group by res_id) b ON(b.res_id=a.id) 
    where   a.biz_id =#{page.parameter.bizId,jdbcType=INTEGER}  
	  <if test="page.parameter.resName != null and page.parameter.resName!=''">
           AND a.res_name LIKE CONCAT('%',#{page.parameter.resName},'%' )
         </if>
         <if test="page.parameter.resMethod!=null and page.parameter.resMethod!=''">
				and a.res_method =#{page.parameter.resMethod}
			</if>
			<if test="page.parameter.startMin != null and page.parameter.startMin!='' ">
            AND a.date_start <![CDATA[>= ]]>#{page.parameter.startMin}
        </if>	
        <if test="page.parameter.startMax!= null and page.parameter.startMax!='' ">
            AND a.date_start <![CDATA[<= ]]>#{page.parameter.startMax}
        </if>
        <if test="page.parameter.state!=null and page.parameter.state!=''">
				and a.state =#{page.parameter.state}
		</if>
        ORDER BY a.date_start 	
  </select>
  
  <select id="selectResDetails" resultMap="BaseResultMap">
  <!-- 订单状态（0待确认（占位）、1已确认（占位）、2取消（退还） -->
 select a.id, b.adjust_time,a.res_name,a.date_start
	,b.STOCK,b.STOCK_DISABLE,ORDER_UNCONFIRM,ORDER_CONFIRM,ORDER_CANCEL
	,b.STOCK-b.STOCK_DISABLE-ORDER_UNCONFIRM-ORDER_CONFIRM as num_balance
from traffic_res a
left join (
	select res_id,DATE_FORMAT(adjust_time,'%Y-%m-%d') adjust_time
		,sum(case when adjust_action = 'STOCK'  then adjust_num else 0 end) as STOCK 
		,sum(case when adjust_action = 'STOCK_DISABLE'  then adjust_num else 0 end) as STOCK_DISABLE
		,sum(case when adjust_action = 'ORDER_SOLD' and adjust_state = 0  then adjust_num else 0 end) as ORDER_UNCONFIRM
		,sum(case when adjust_action = 'ORDER_SOLD' and adjust_state = 1  then adjust_num else 0 end) as ORDER_CONFIRM
		,sum(case when adjust_action = 'ORDER_SOLD' and adjust_state = 2 then adjust_num else 0 end) as ORDER_CANCEL
 from traffic_res_stocklog group by res_id,DATE_FORMAT(adjust_time,'%Y-%m-%d') 
	) b on (a.id=b.res_id)
where id=#{id,jdbcType=INTEGER}
ORDER BY b.adjust_time 
  </select>
  
   <select id="selectTrafficResById" resultMap="BaseResultMap">
   select biz_id,res_name,res_method,cost_price,child_price,baby_price,num_stock,num_disable,num_sold,num_balance,state,date_start
	,DATE_ADD(date_latest,INTERVAL DATEDIFF(#{date,jdbcType=VARCHAR},date_start) DAY) newDateLatest,remark,user_id,user_name
from traffic_res where id=#{id,jdbcType=INTEGER}
   </select>
   
   <update id="updateStockOrStockDisable" parameterType="com.yimayhd.erpcenter.dal.product.po.TrafficRes">
   	<!-- 订单状态（0待确认（占位）、1已确认（占位）、2取消（退还） -->
		update traffic_res a left join 
			(select res_id
				,sum(case when adjust_action = 'STOCK'  then adjust_num else 0 end) as STOCK 
				,sum(case when adjust_action = 'STOCK_DISABLE'  then adjust_num else 0 end) as STOCK_DISABLE
				,sum(case when adjust_action = 'ORDER_SOLD' and adjust_state in (0,1)  then adjust_num else 0 end) as ORDER_SOLD
				,sum(case when adjust_action = 'ORDER_SOLD' and adjust_state in (2) then adjust_num else 0 end) as ORDER_CANCEL
			from traffic_res_stocklog where res_id=#{id,jdbcType=INTEGER} group by res_id
			) b on (a.id=b.res_id)
		set num_stock=ifnull(b.STOCK,0),
			num_disable=ifnull(b.STOCK_DISABLE,0),
			num_sold=ifnull(b.ORDER_SOLD,0),
			num_reserved=0,
			num_cancel=ifnull(b.ORDER_CANCEL,0),
			num_clean=0,
			num_balance=ifnull(b.STOCK,0)-ifnull(b.STOCK_DISABLE,0)-ifnull(b.ORDER_SOLD,0)
		where a.id=#{id,jdbcType=INTEGER}
   </update>
   
   <update id="updateTrafficResState" parameterType="com.yimayhd.erpcenter.dal.product.po.TrafficRes">
  update traffic_res set  state = #{state,jdbcType=INTEGER}
   where id = #{id,jdbcType=INTEGER}
   </update>
   
   <select id="selectDetailsStocklog" resultMap="BaseResultMap">
   SELECT * ,case when adjust_action = 'STOCK'  then adjust_num else 0 end as STOCK ,
case when adjust_action = 'STOCK_DISABLE'  then adjust_num else 0 end as STOCK_DISABLE,
case when adjust_action = 'ORDER_SOLD'  and adjust_state =0 then adjust_num else 0 end as ORDER_UNCONFIRM,
case when adjust_action = 'ORDER_SOLD' and adjust_state =1   then adjust_num else 0 end as ORDER_CONFIRM,
case when adjust_action = 'ORDER_SOLD' and adjust_state =2  then adjust_num else 0 end as ORDER_CANCEL
FROM traffic_res_stocklog
WHERE res_id=#{resId,jdbcType=INTEGER} AND adjust_time  LIKE CONCAT(#{adjustTime},'%' )
   </select>
   
     <select id="selectTrafficResAndLineInfoById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select a.*  , ifnull(b.lineInfo, '') lineInfo
from traffic_res a  
LEFT JOIN (select res_id, GROUP_CONCAT(CONCAT_WS(' ',class_no,CONCAT(departure_city,'-',arrival_city), CONCAT(departure_time,'-',arrival_time)) separator '<![CDATA[<br/>]]>') as lineInfo
	from traffic_res_line group by res_id) b ON(b.res_id=a.id) 
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  
       <select id="selectTrafficResAndLineInfoById1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select a.*  , ifnull(b.lineInfo, '') lineInfo
from traffic_res a  
LEFT JOIN (select res_id, GROUP_CONCAT(CONCAT_WS(' ',class_no,CONCAT(departure_city,'-',arrival_city), CONCAT(departure_time,'-',arrival_time)) separator '/') as lineInfo
	from traffic_res_line group by res_id) b ON(b.res_id=a.id) 
    where a.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>