##     totalPage 总页数   showSize-10   cpage 当前页
#macro(pageStyle $totalPage $pageSize $cpage $formId)
#set($showSize =20) 
#if($cpage)
<input type="hidden"  name="totalPage" value="$!totalPage"/>
<input type="hidden"  name="pageSize" value="$!pageSize"/>
<input type="hidden"  name="currentPage" id="currentPage" value="$!cpage"/>
<div class="pagination pagination-large pagination-right">
    <ul>
        #if($cpage>1)
            <li><a href="javascript:void(0)"  id="prePage">上一页</a></li>
        #end

    ##总页数<=1
        #if($totalPage<=1)
            <li  class="active"><span>1</span></li>
        #else

            #set($pageStart = 1)  ##开始页
            #set($pageEnd = $showSize)  ##结束页

            ##总页数<=需要显示的页数
            #if($totalPage<=$showSize)

                #set($pageStart = 1)
                #set($pageEnd = $totalPage)

            #else

                #set($hasfSize = $showSize/2)
                #set($lastHalf = $totalPage - $hasfSize)


                #if($cpage <= $hasfSize)
                    #set($pageStart = 1)
                    #set($pageEnd = $showSize)
                #elseif($cpage >=$lastHalf)
                    #set($pageStart = $totalPage - $showSize+1)
                    #set($pageEnd = $totalPage)
                #else
                    #if($showSize%2==1)
                        #set($pageStart = $cpage - $hasfSize )
                    #else
                        #set($pageStart = $cpage - $hasfSize +1)
                    #end


                    #set($pageEnd = $pageStart + $showSize+(-1))
                #end

            #end

            #foreach($i in [$pageStart .. $pageEnd])
                #if($cpage==$i)
                    <li  class="active"><span>$i</span></li>
                #else
                    <li  ><a href="javascript:void(0)" name="linkToPage">$i</a></li>
                #end
            #end

        #end

        #if($cpage<$totalPage)
            <li><a href="javascript:void(0)" id="nextPage" >下一页</a></li>
        #end
    </ul>
</div>
<script>
$(function(){
    //上一页
    $("#prePage").click(function(){
        var currentPage = $("[name='currentPage']").val();
        $("[name='currentPage']").val(currentPage-1);
        //form提交
        var formId = "#$formId";
        $(formId).submit();

    });

    //下一页
    $("#nextPage").click(function(){
         var currentPage = $("[name='currentPage']").val();
         $("[name='currentPage']").val(parseInt(currentPage)+1);
         //form提交
         var formId = "#$formId";
         $(formId).submit();
    });
    //跳转到某一页
    $("[name='linkToPage']").click(function(){
          var page  = $(this).html();
          $("[name='currentPage']").val(page);
           //form提交
         var formId = "#$formId";
         $(formId).submit();
    });
});
</script>
#end
#end

##显示验证错误信息
#macro(showValidateError $formModel $fieldName)
    #if($!formModel)
        #springBind($fieldName)
    <span style="color: red"> $status.errorMessage </span>
    #end
#end

##显示错误信息##
#macro(showErrorMsg  $errorMsg )
	#if($errorMsg)
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>错误!</h4>$errorMsg
    </div>
	#end
#end
