<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yimayhd.erpcenter.dal.basic.dao.LogOperatorMapper">
    
    <resultMap type="com.yimayhd.erpcenter.dal.basic.po.LogOperator" id="LogOperator" >
		<id property="id" column="id" jdbcType="INTEGER" />
		<result property="bizId" column="biz_id" jdbcType="INTEGER" />
		<result property="batchId" column="batch_id" jdbcType="INTEGER" />
		<result property="action" column="action" jdbcType="VARCHAR" />
		<result property="tableName" column="table_name" jdbcType="VARCHAR" />
		<result property="tableId" column="table_id" jdbcType="INTEGER" />
		<result property="tableParentId" column="table_parent_id" jdbcType="INTEGER" />
		<result property="logText" column="log_text" jdbcType="VARCHAR" />
		<result property="logBrief" column="log_brief" jdbcType="VARCHAR" />
		<result property="editUser" column="edit_user" jdbcType="VARCHAR" />
		<result property="editTime" column="edit_time" jdbcType="VARCHAR" />
	</resultMap>
  
	<sql id="baseColumns">
	  	id,biz_id,batch_id,action,table_name,table_id,table_parent_id,log_brief,log_text,edit_user,edit_time
	</sql>

	<sql id="queryWhere">
		<where>
		    <if test="id != null" > id = #{id} </if>
		    <if test="bizId != null" > and biz_id = #{bizId} </if>
		    <if test="batchId != null" > and batch_id = #{batchId} </if>
			<if test="action != null" > and action = #{action} </if>
			<if test="tableName != null" > and `table_name` = #{tableName} </if>
			<if test="tableId != null" > and `table_id` = #{tableId} </if>
			<if test="tableParentId != null" > and `table_parent_id` = #{tableParentId} </if>
			<if test="logBrief != null" > and `log_brief` like concat( '%',#{logBrief},'%') </if>
			<if test="editUser != null" > and edit_user = #{editUser} </if>
		</where>
	</sql>
	
	<delete id="delete" parameterType="java.lang.Integer">
        delete from log_operator
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
	<insert id="insert" parameterType="com.yimayhd.erpcenter.dal.basic.po.LogOperator"  useGeneratedKeys="true" keyProperty="id">
        insert into log_operator(biz_id,batch_id,action,`table_name`,table_id,table_parent_id,log_brief,log_text,edit_user)
        values (#{bizId,jdbcType=INTEGER},
        #{batchId,jdbcType=INTEGER},
        #{action,jdbcType=VARCHAR},
        #{tableName,jdbcType=VARCHAR},
        #{tableId,jdbcType=INTEGER},
        #{tableParentId,jdbcType=INTEGER},
        #{logBrief,jdbcType=VARCHAR},
        #{logText,jdbcType=VARCHAR},
        #{editUser,jdbcType=VARCHAR})
    </insert>
    
	<update id="update" parameterType="com.yimayhd.erpcenter.dal.basic.po.LogOperator">
        update log_operator
        <set>
			<if test="bizId != null" > log_operator.biz_id = #{bizId}, </if>
			<if test="batchId != null" > batch_id = #{batchId}, </if>
			<if test="action != null" > action = #{action}, </if>
			<if test="tableName != null" > `table_name` = #{tableName}, </if>
			<if test="tableId != null" > table_id = #{tableId}, </if>
			<if test="tableParentId != null" > table_parent_id = #{tableParentId}, </if>
			<if test="logBrief != null" > log_brief = #{logBrief}, </if>
			<if test="logText != null" > log_text = #{logText}, </if>
			<if test="editUser != null" > edit_user = #{editUser}, </if>
		</set>	
		where id=#{id}		
    </update>
    
	<select id="getById" parameterType="java.lang.Integer"  resultMap="LogOperator">
        select <include refid="baseColumns"/>
        from log_operator
       	where id=#{id} 
    </select>

	<select id="getAll"  resultMap="LogOperator">
        select <include refid="baseColumns"/> 
        from log_operator
        <include refid="queryWhere" /> 
        ORDER BY edit_time desc   
    </select>
    
	
	<select id="getWhere" parameterType="com.yimayhd.erpcenter.dal.basic.po.LogOperator"  resultMap="LogOperator">
        select <include refid="baseColumns"/>
        from log_operator
        <include refid="queryWhere" />
        ORDER BY edit_time desc
    </select>
    <select id="getWhere_NotLogText" parameterType="com.yimayhd.erpcenter.dal.basic.po.LogOperator"  resultMap="LogOperator">
        select biz_id,batch_id,action,table_name,edit_user,edit_time
        from log_operator
        <include refid="queryWhere" />
        group by batch_id 
        ORDER BY edit_time desc
    </select>
    <select id="getWhere_LogDetail" parameterType="com.yimayhd.erpcenter.dal.basic.po.LogOperator"  resultType="java.util.HashMap">
        select a.batch_id, a.action, a.table_name,a.table_id,a.table_id,table_parent_id, ifNull(b.`value`,a.table_name) as table_title,a.log_brief, a.log_text
        from log_operator a left join sys_dic b on (a.table_name = b.code and b.type_id=104)
        where a.batch_id in (select batch_id from log_operator <include refid="queryWhere" />)
        order by a.batch_id, table_name, table_id
    </select>
</mapper>