<div id="gf-header">
	<div class="gf-iframe">
		<div class="gf-topbar clearfix">
			<a href="" class="gf-fl">我的账户</a>
			<ul class="clearfix">
				<li><a href="javascript:" id="login-btn">登陆</a></li>
				<li class="last"><a href="" id="regedit-btn">注册</a></li>
			</ul>
		</div>
		<div class="gf-logo"><a href=""><img src="http://s0.yimayholiday.com/GF_PC/img/logo.png" width="200" height="105"/></a></div>
	</div>
	<input type="hidden" id="login-window" value="../login/login.html"/>
</div>
<div id="gf-navbox">
	<div class="gf-iframe">
		<div class="gf-nav">
			<a href="" class="first">首页</a>
			<a href="" class="on">魔装商城</a>
			<a href="">GF社区</a>
			<a href="">1826</a>
		</div>			
	</div>
</div>