<!DOCTYPE html>
<html>
<head>
    <title>欢迎登录运营中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 
#parse("layout/top.vm")

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            #parse("layout/left.vm")
        </div>
       <div class="span9 ">
			<iframe id="RightIFrame" name="RightIFrame" frameborder="0" scrolling="auto" width="100%" src="$!request.getContextPath()/login/welcome.htm"></iframe>
        </div>
    </div>

</div>
<div class="text-center">
   #parse("layout/footer.vm")
</div>
</body>
</html>