 
<div class="jk-layout-l jk-manage-menu jk-w170" id="nav" style="overflow-y: auto;height:100%;">
		#foreach($application in $applicationResurce)
        <dl class="caotama">
			<dt>$!application.name</dt>
			<dd>
			#foreach($!resurce in $!application.roleVOs)
				<a id="$!resurce.code" href="javascript:iFrameJumpPage('$!{application.domainPath}$!{resurce.urlpath}','$!resurce.code');">$!resurce.name </a>
			#end</dd>
        </dl> 
		#end 
</div>
<script>
$(function(){
	$(".caotama dt").click(function(){
		$(".caotama").height(32);
		var dd = $(this).siblings("dd");
		var _h = 36+10+10; //预留一个空间
		dd.find("a").each(function(){
			_h += $(this).height();
		});
		dd.height(_h);
		$(this).parent().height(32+_h);
	});
	
	$(".caotama dt").get(0).click();
});

function iFrameJumpPage(url,id)
 {
 	$("#nav a").removeClass("active");
	$("#"+id).addClass('active');
    $("#RightIFrame").attr("src",url);
 }
</script>
 
