<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimayhd.erpcenter.biz.basic.air.dao.AirLineMapper">

  <resultMap id="BaseResultMap" type="com.yimayhd.erpcenter.biz.basic.air.po.AirLine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="air_code" jdbcType="VARCHAR" property="airCode" />
    <result column="airline" jdbcType="VARCHAR" property="airline" />
    <result column="airline_code" jdbcType="VARCHAR" property="airlineCode" />
    <result column="dep_city_code" jdbcType="CHAR" property="depCityCode" />
    <result column="dep_city" jdbcType="VARCHAR" property="depCity" />
    <result column="dep_port" jdbcType="VARCHAR" property="depPort" />
    <result column="dep_terminal" jdbcType="VARCHAR" property="depTerminal" />
    <result column="dep_date" jdbcType="DATE" property="depDate" />
    <result column="dep_time" jdbcType="TIMESTAMP" property="depTime" />
    <result column="arr_city_code" jdbcType="CHAR" property="arrCityCode" />
    <result column="arr_city" jdbcType="VARCHAR" property="arrCity" />
    <result column="arr_port" jdbcType="VARCHAR" property="arrPort" />
    <result column="arr_terminal" jdbcType="VARCHAR" property="arrTerminal" />
    <result column="arr_time" jdbcType="TIMESTAMP" property="arrTime" />
    <result column="on_time_rate" jdbcType="VARCHAR" property="onTimeRate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, air_code, airline, airline_code, dep_city_code, dep_city, dep_port, dep_terminal, 
    dep_date, dep_time, arr_city_code, arr_city, arr_port, arr_terminal, arr_time, on_time_rate
  </sql>
  
  
  <!-- 单条插入 -->
  <insert id="insert" parameterType="com.yimayhd.erpcenter.biz.basic.air.po.AirLine" useGeneratedKeys="true" keyProperty="id">
    insert into air_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airCode != null and airCode != ''">
        air_code,
      </if>
      <if test="airline != null and airline != ''">
        airline,
      </if>
      <if test="airlineCode != null and airlineCode != ''">
        airline_code,
      </if>
      <if test="depCityCode != null and depCityCode != ''">
        dep_city_code,
      </if>
      <if test="depCity != null and depCity != ''">
        dep_city,
      </if>
      <if test="depPort != null and depPort != ''">
        dep_port,
      </if>
      <if test="depTerminal != null and depTerminal != ''">
        dep_terminal,
      </if>
      <if test="depDate != null">
        dep_date,
      </if>
      <if test="depTime != null">
        dep_time,
      </if>
      <if test="arrCityCode != null and arrCityCode != ''">
        arr_city_code,
      </if>
      <if test="arrCity != null and arrCity != ''">
        arr_city,
      </if>
      <if test="arrPort != null and arrPort != ''">
        arr_port,
      </if>
      <if test="arrTerminal != null and arrTerminal != ''">
        arr_terminal,
      </if>
      <if test="arrTime != null">
        arr_time,
      </if>
      <if test="onTimeRate != null and onTimeRate != ''">
        on_time_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airCode != null and airCode != ''">
        #{airCode,jdbcType=VARCHAR},
      </if>
      <if test="airline != null and airline != ''">
        #{airline,jdbcType=VARCHAR},
      </if>
      <if test="airlineCode != null and airlineCode != ''">
        #{airlineCode,jdbcType=VARCHAR},
      </if>
      <if test="depCityCode != null and depCityCode != ''">
        #{depCityCode,jdbcType=CHAR},
      </if>
      <if test="depCity != null and depCity != ''">
        #{depCity,jdbcType=VARCHAR},
      </if>
      <if test="depPort != null and depPort != ''">
        #{depPort,jdbcType=VARCHAR},
      </if>
      <if test="depTerminal != null and depTerminal != ''">
        #{depTerminal,jdbcType=VARCHAR},
      </if>
      <if test="depDate != null">
        #{depDate,jdbcType=DATE},
      </if>
      <if test="depTime != null">
        #{depTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrCityCode != null and arrCityCode != ''">
        #{arrCityCode,jdbcType=CHAR},
      </if>
      <if test="arrCity != null and arrCity != ''">
        #{arrCity,jdbcType=VARCHAR},
      </if>
      <if test="arrPort != null and arrPort != ''">
        #{arrPort,jdbcType=VARCHAR},
      </if>
      <if test="arrTerminal != null and arrTerminal != ''">
        #{arrTerminal,jdbcType=VARCHAR},
      </if>
      <if test="arrTime != null">
        #{arrTime,jdbcType=TIMESTAMP},
      </if>
      <if test="onTimeRate != null and onTimeRate != ''">
        #{onTimeRate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 更新   -->
  <update id="update" parameterType="com.yimayhd.erpcenter.biz.basic.air.po.AirLine">
      update air_line
    <set>
      <if test="stopCity != null and stopCity != ''" >
        stop_city = #{stopCity},
      </if>
      <if test="stopCityCode != null and stopCityCode != ''" >
        stop_city_code = #{stopCityCode},
      </if>
      <if test="stopPort != null and stopPort != ''" >
        stop_port = #{stopPort},
      </if>
      <if test="stopTerminal != null and stopTerminal != ''" >
        stop_terminal = #{stopTerminal},
      </if>
      <if test="stopArrTime != null" >
        stop_arr_time = #{stopArrTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopDepTime != null" >
        stop_dep_time = #{stopDepTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 通过出发日期、出发城市三字码、到达城市三字码查询航线 -->
  <select id="findAirLineByCity"  resultMap="BaseResultMap" >
  	select
  	<include refid="Base_Column_List" />
  	from air_line
  	where 
  	  dep_date = #{depDate}
  	  and dep_city_code = #{depCityCode} 
  	  and arr_city_code = #{arrCityCode}
  </select>
  
  <!-- 根据出发日期和航班号来查询航线 -->
  <select id="findAirLineByAirCode" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from air_line
  	where 
  	  dep_date = #{depDate}
  	  and air_code = #{airCode}
  </select>
  
  <!-- 根据出发日期、出发城市三字码、到达城市三字码以及航班号锁定记录 -->
  <select id="getFinalAirLineByMultiConditon" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from air_line
  	where dep_date = #{depDate} and dep_city_code = #{depCityCode} and  arr_city_code = #{arrCityCode} and air_code = #{airCode}
  </select>
</mapper>