<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihg.sys.dao.MsgInfoDetailMapper">
	<resultMap id="BaseResultMap" type="com.yihg.sys.po.MsgInfoDetail">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="msg_info_id" jdbcType="INTEGER" property="msgInfoId" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="total_count" jdbcType="INTEGER" property="totalCount" />
		<result column="read_count" jdbcType="INTEGER" property="readCount" />
		<result column="unread_count" jdbcType="INTEGER" property="unreadCount" />
	</resultMap>
	<sql id="Base_Column_List">
		id, msg_info_id, user_id, user_name, status
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from msg_info_detail
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from msg_info_detail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yihg.sys.po.MsgInfoDetail">
		insert into msg_info_detail (id, msg_info_id, user_id,
		user_name, status)
		values (#{id,jdbcType=INTEGER}, #{msgInfoId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{userName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.yihg.sys.po.MsgInfoDetail">
		insert into msg_info_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="msgInfoId != null">
				msg_info_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="msgInfoId != null">
				#{msgInfoId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yihg.sys.po.MsgInfoDetail">
		update msg_info_detail
		<set>
			<if test="msgInfoId != null">
				msg_info_id = #{msgInfoId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yihg.sys.po.MsgInfoDetail">
		update msg_info_detail
		set msg_info_id = #{msgInfoId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		user_name = #{userName,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="selectMsgCountByUserId" resultMap="BaseResultMap">
	SELECT COUNT(mid.id) AS total_count,
	(SELECT COUNT(mid.id) FROM msg_info_detail AS mid 
    LEFT JOIN msg_info AS mi ON (mid.msg_info_id=mi.id) 
	WHERE `status`=0  AND mi.msg_type=0 AND user_id=#{userId,jdbcType=INTEGER}) AS read_count,
	(SELECT COUNT(mid.id) FROM msg_info_detail AS mid 
    LEFT JOIN msg_info AS mi ON (mid.msg_info_id=mi.id) 
	WHERE `status`=0  AND mi.msg_type=1 AND user_id=#{userId,jdbcType=INTEGER}) AS unread_count
	FROM msg_info_detail AS mid 
	LEFT JOIN msg_info AS mi ON (mid.msg_info_id=mi.id) 
	WHERE mid.status=0 AND biz_id=#{bizId,jdbcType=INTEGER} AND user_id=#{userId,jdbcType=INTEGER}
	</select>
</mapper>