<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimayhd.erpcenter.dal.sys.dao.SettleApplyResultMapper" >
  <resultMap id="BaseResultMap" type="com.yimayhd.erpcenter.dal.sys.po.SettleApplyResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="BIGINT" />
    <result column="is_approve" property="isApprove" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, apply_id, state, operator_id, operator_name, remark, operate_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from settle_apply_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from settle_apply_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.erpcenter.dal.sys.po.SettleApplyResult" >
    insert into settle_apply_result (apply_id, state, 
      operator_id, operator_name, remark, is_approve,
      operate_time)
    values (#{applyId,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, 
      #{operatorId,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isApprove,jdbcType=TINYINT},
      #{operateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yimayhd.erpcenter.dal.sys.po.SettleApplyResult" >
    insert into settle_apply_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimayhd.erpcenter.dal.sys.po.SettleApplyResult" >
    update settle_apply_result
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.erpcenter.dal.sys.po.SettleApplyResult" >
    update settle_apply_result
    set apply_id = #{applyId,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      operator_id = #{operatorId,jdbcType=INTEGER},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
 <select id="getSettleApplyResults" resultMap="BaseResultMap">
 	select * from settle_apply_result
 </select>
 <select id="getResultByApplyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
 	select * from settle_apply_result where apply_id=#{applyId,jdbcType=INTEGER}
 </select>
</mapper>